<!-- patTemplate:tmpl name="content" -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Manajemen Client</h2>
    </div>
</div>


<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="{CLASS_PESAN}">{ISI_PESAN}</div>
<!-- /patTemplate:tmpl -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {JUDUL} Client
                <p class="action-wrap">
                    <a href="{URL_CANCEL}" class="xhr dest_subcontent-element btn btn-danger">Kembali</a>
                    <a href="{URL_EDIT}" class="xhr dest_subcontent-element btn btn-info">Edit</a>
                </p> 
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-6">    
                  <!-- patTemplate:tmpl name="data_client_item" -->   
                    <div class="row">
                        <label class="col-sm-4 control-label">Nama Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_CLIENTNAME}</p>
                            <input type="hidden" name="data-id" value="{ID}"  />
                            <input type="hidden" name="idd" value="{IDD}"  />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Nick Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_CLIENTNICK}</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Kategori Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_CLIENTCATNAME}</p>
                        </div>
                    </div>                    
                    <div class="row">
                        <label class="col-sm-4 control-label">Username Gforge</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_GFORGENICKNAME}</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Kota Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_KOTANAMA}</p>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-4 control-label">Provinsi Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_PROVNAMA}</p>
                        </div>
                    </div>                                        
                    <div class="row">
                        <label class="col-sm-4 control-label">Status Client</label>
                        <div class="col-sm-8">
                            <p>{CLIENT_CLIENTSTATUS}</p>
                        </div>
                    </div>
                  <!-- /patTemplate:tmpl --> 
                </div>
              </div>          
            </div>
        </div>
    </div>
</div>

<style>
    .action-wrap {
         margin-top: -7px;
         float: right;
    }
</style>
<!-- /patTemplate:tmpl -->