<!-- patTemplate:tmpl name="content" -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Hotel</h2>
    </div>
</div>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="alert alert-{CLASS_PESAN}">{ISI_PESAN}</div>
<!-- /patTemplate:tmpl -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="acrdHeadFilter">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#acrdClpsFilter" aria-expanded="{EXPAND}" aria-controls="acrdClpsFilter">
						<span class="fa fa-search"></span>
						&nbsp; Filter / Cari Data
					</a>
				</h4>
			</div>
			<div id="acrdClpsFilter" class="panel-collapse collapse {COLLAPSE}" role="tabpanel" aria-labbeledby="acrdHeadFilter">
				<div class="panel-body">
					<form role="form" method="POST" action="{URL_SEARCH}" class="xhr_simple_form dest_subcontent-element" id="filterbox">
						<div class="row">
							<div class="col-md-4 col-xs-12">
								<div class="form-group">
									<label>Nama Hotel</label>
	                <input type="text" name="hotelNama" class="form-control input-sm" value="{FILTER_NAME}" size="30" />
								</div>
							</div>
							<div class="col-md-4 col-xs-12">
								<div class="form-group">
									<label>Provinsi Hotel</label>
									<!-- patTemplate:gtfwrendermodule name="provNama" module="combobox2" submodule="combobox2" action="view" type="html" params="" / -->
								</div>
							</div>
							<div class="col-md-4 col-xs-12 text-center">
								<div class="visible-md visible-lg  space-p"></div>
								<button class="btn btn-info btn-block" type="submit">Terapkan Filter</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				List Hotel
				<p class="action-wrap">
					<a class="xhr dest_subcontent-element btn btn-success" href="{HOTEL_URL_ADD}" role="button" title="Tambah Hotel" tabindex="2"><span class="fa fa-plus"></span>&nbsp; Tambah</a>
				</p>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="table-doc-jenis">
						<thead>
							<tr>
								<th>No.</th>
								<th class="th-aksi">Aksi</th>
								<th>Nama</th>
								<th>Alamat</th>
								<th>Provinsi</th>
								<th>Telepon</th>
								<th>Kisaran Harga</th>
								<th>Client</th>
							</tr>
						</thead>
						<tbody>
							<!-- patTemplate:tmpl name="data_hotel" type="condition" conditionvar="HOTEL_EMPTY" -->
                <!-- patTemplate:sub condition="YES" -->
                <tr><td colspan="9" align="center"><em>-- Data tidak ditemukan --</em></td></tr>
                <!-- /patTemplate:sub -->
                <!-- patTemplate:sub condition="NO" -->
									<!-- patTemplate:tmpl name="table" -->
									<tr>
										<td>{HOTEL_NO}</td>
										<td class="links">
                      <div class="btn-toolbar">
												<div class="btn-group btn-group-sm">
                          <a class="xhr dest_subcontent-element btn btn-default" href="{HOTEL_DETAIL}" title="Detail Hotel">
                            <span class="fa fa-list-alt"></span>
                          </a>
                          <a class="xhr dest_subcontent-element btn btn-default" href="{HOTEL_EDIT}" title="Edit Data">
                            <span class="fa fa-pencil"></span>
                          </a>
	                        <a class="xhr dest_subcontent-element btn btn-default" href="{HOTEL_HAPUS}" title="Hapus Data">
                            <span class="fa fa-trash"></span>
                          </a>
                        </div>
	                    </div>
										</td>
										<td>{HOTEL_HOTELNAMA}</td>
										<td>{HOTEL_HOTELALAMAT}</td>
										<td>{HOTEL_PROVNAMA}</td>
										<td>{HOTEL_HOTELPHONE}</td>
										<td>Rp {HOTEL_HOTELHARGA}</td>
										<td>{HOTEL_CLIENTNAME}</td>
									</tr>
									<!-- /patTemplate:tmpl -->
                <!-- /patTemplate:sub -->
							<!-- /patTemplate:tmpl -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
  .th-aksi {
    width: 80px;
  }
</style>
<script type="text/javascript">
$(function () {
  $('#table-doc-jenis').DataTable({
    "paging": true,
    "searching": false,
    "ordering": false,
    "info": true,
    "sort": false,
    "autoWidth": false,
    "processing": true,
    "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    "iDisplayLength": 25,
    "pagingType": "full_numbers",
    "language": {
      "search": "Cari semua:",
      "info": " Memuat _START_ sampai _END_ dari <strong>_TOTAL_</strong> entri",
      "lengthMenu": "Tampilkan _MENU_ Entri",
      "infoEmpty": "Memuat 0 entri",
      "zeroRecords": "Tidak ada entri project.",
      "infoFiltered": "(dari <strong>_MAX_</strong> total entri)",
      "paginate": {
        "previous": "<i class=\"fa fa-backward\"></i>",
        "next": "<i class=\"fa fa-forward\"></i>",
        "first": "<i class=\"fa fa-fast-backward\"></i>",
        "last": "<i class=\"fa fa-fast-forward\"></i>"
        }
      }
  });
});
</script>
<!-- /patTemplate:tmpl -->
