<!-- patTemplate:tmpl name="document" -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!-- patTemplate:gtfwgetconfig config="organization" name="application_name" / --></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <script type="text/javascript" src="js/jquery.js"></script>
   <script type="text/javascript" src="js/loader.js"></script>
<script type="text/javascript" language="JavaScript">
	var DEFAULT_STYLE_PATH = '../css/sia-mocca/';
	var DEFAULT_IMAGES_PATH = 'images/';
	var GLOBAL_ACTIVE_MENU = 'mn_jadwal';
	var GLOBAL_DRAWER_IS_OPEN = 0;
</script>
<link rel="stylesheet" type="text/css" href="css/sia-mocca{LOADER_NAME_ADDITONAL}-loader.css" title="Mocca"/>
<link href="images/<!-- patTemplate:gtfwgetconfig config="application" name="application_icon" / -->" rel="SHORTCUT ICON" />
</head>

<body class="body-popup" {BODY_ATTRIBUTE}>
<!-- patTemplate:link src="body" / -->
</body>
</html>
<!-- /patTemplate:tmpl -->
