<!-- patTemplate:tmpl name="document" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
      <link rel="stylesheet" type="text/css" href="css/css-custome/a_sia_cetak.css" />
      <link rel="stylesheet" type="text/css" media="print" href="css/css-custome//a_sia_cetak_media_print.css" />
      <title><!-- patTemplate:gtfwgetconfig config="organization" name="application_name" / --> - Cetak</title>
   </head>
   <!--<body onload="window.print()">-->
   <body>
      <div class="page-portrait">
         <!-- patTemplate:link src="body" / -->
      </div>
   </body>
</html>
<!-- /patTemplate:tmpl -->
