<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>Gamatechno Web Application Development Framework</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <style type="text/css" media="screen">
      @import url("css/layout.css");
      @import url("css/content.css");
      @import url("css/docbook.css");
   </style>
   <script src="offsite.js" type="text/javascript"></script>
</head>

<body>
	<!-- header BEGIN -->
	<div id="fedora-header">
   	<div id="fedora-header-logo">
			<a href="http://fedora.redhat.com/" id="link-internal"><img src="img/header-fedora_logo.png" alt="Fedora Project"></a>
		</div>

		<div id="fedora-header-items">
			<span class="fedora-header-icon">
   			<a href="http://fedora.redhat.com/download/" id="link-internal"><img src="img/header-download.png" alt=" ">Login</a>
				<a href="http://fedora.redhat.com/about/faq/" id="link-internal"><img src="images/header-faq.png" alt=" ">FAQ</a></span>
		</div>
	</div>

	<div id="fedora-nav"></div>
	<!-- header END -->
		
	<!-- leftside BEGIN -->
	<div id="fedora-side-left">
		<div id="fedora-side-nav-label">
       Site Navigation:
      </div>
      <ul id="fedora-side-nav">
			<li><strong><a href="http://fedora.redhat.com/" id="link-internal">About</a></strong></li>
			<li><a href="http://fedora.redhat.com/download/" id="link-internal">Guest book</a></li>
			<li><a href="http://fedora.redhat.com/docs/" id="link-internal">Login</a></li>
      </ul>
   </div>
	<!-- leftside END -->

	<!-- content BEGIN -->
	<div id="fedora-middle-two">
		<div class="fedora-corner-tr">&nbsp;</div>
		<div class="fedora-corner-tl">&nbsp;</div>
		
      <div id="fedora-content">
      </div>
			
      <div class="fedora-corner-br">&nbsp;</div>
		<div class="fedora-corner-bl">&nbsp;</div>
	</div>
	<!-- content END -->
		
	<!-- footer BEGIN -->
	<div id="fedora-footer">
		Copyright © 2004 Red Hat, Inc. All rights reserved.
		<br>
		Fedora is a trademark of Red Hat, Inc.
		<br>
		The Fedora Project is not a supported product of Red Hat, Inc.
		<br>
   	Red Hat, Inc. is not responsible for the content of other sites.
	</div>
	<!-- footer END -->
</body>
</html>
