<!-- patTemplate:tmpl name="content" -->

      <div class="breadcrumb">
         <h2 class="hidden">Navigasi</h2>
         <ul>
            <li class="home"><a class="xhr dest_subcontent-element" href="<!-- patTemplate:gtfwgeturl module="home" sub="home" action="view" type="html" params="" / -->">Home</a></li>
         </ul>
      </div>
      <div class="navigation-infobar">
         <ul>
            <a id="profil" class="xhr dest_subcontent-element" href="<!-- patTemplate:gtfwgeturl module="profile" sub="profile" action="view" type="html" params=""  / -->" title="profil"></a>
            <a id="logout" href="<!-- patTemplate:gtfwgeturl module="login_default" sub="logout" action="do" type="html" params=""  / -->" title="logout"></a>
         </ul>
         
      </div>

<!-- /patTemplate:tmpl -->