<!-- patTemplate:tmpl name="content" -->
</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading">
            Pencarian
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form role="form_search" method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
                        <div class="form-group">
                            <label>Nama mahasiswa</label>
                            <input type="text" name="nama" class="form-control" value="{NAMA}" size="30" />
                        </div>
                        <button class="btn btn-default" type="submit" name="action" value="Tampilkan &raquo;">Cari</button>
                    </form>                      
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- /patTemplate:tmpl -->