<?php
//============= Proses Error Message ======================
$error[1001]['lang'] = 'Proses hapus data telah gagal';
$error[1001]['type'] = 'warning'; 
$error[1002]['lang'] = 'Proses tambah data telah gagal'; 
$error[1002]['type'] = 'warning';
$error[1003]['lang'] = 'Proses pengeditan data telah gagal'; 
$error[1003]['type'] = 'warning';
$error[1004]['lang'] = 'Data tidak ditemukan';
$error[1004]['type'] = 'warning';
$error[1005]['lang'] = 'Tanggal yang dimasukkan tidak valid';
$error[1005]['type'] = 'alert'; 

$error[1501]['lang'] = 'buah data telah berhasil dihapus'; 
$error[1501]['type'] = 'done'; 
$error[1502]['lang'] = 'Perubahan data telah berhasil disimpan'; 
$error[1502]['type'] = 'done'; 
$error[1504]['lang'] = 'Data ditemukan'; 
$error[1504]['type'] = 'done'; 
$error[1503]['lang'] = 'Data baru telah berhasil ditambahkan'; 
$error[1503]['type'] = 'done';
$error[1505]['lang'] = 'telah berhasil diaktifkan'; 
$error[1505]['type'] = 'done';
$error[1506]['lang'] = 'buah data telah berhasil dibatalkan'; 
$error[1506]['type'] = 'done'; 
 
//============= Form Error Message ======================
$error[3001]['lang'] = 'Pengisian data salah'; 
$error[3001]['type'] = 'alert';
$error[3002]['lang'] = '<fieldname> harus diisi'; 
$error[3003]['lang'] = 'Data yang dihapus belum diisi'; 
$error[3003]['type'] = 'alert';
?>
