<!-- patTemplate:tmpl name="content" -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Manajemen Login Aplikasi</h2>
    </div>
</div>

<div id="warning-box" class="alert-dismissible hidden">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="warning-msg"></span>
  <ul id="warning-msg-detail"></ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span id="inpAct">{JUDUL}</span> Login Aplikasi
            </div>
            <div class="panel-body">
                <form name="frminp" id="frminp" method="POST" class="form-horizontal" id="frmInput">
                    <div class="form-group">
                        <label for="loginClientId" class="col-sm-3 control-label">Client*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="loginClientId" id="loginClientId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginLokasiserverId" class="col-sm-3 control-label">Lokasi Server*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="loginLokasiserverId" id="loginLokasiserverId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginAppId" class="col-sm-3 control-label">Nama Aplikasi*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="loginAppId" id="loginAppId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginUrl" class="col-sm-3 control-label">Login Url*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="loginUrl" name="loginUrl" maxlength="255" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginLoginroleId" class="col-sm-3 control-label">Login Role*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="loginLoginroleId" id="loginLoginroleId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginUser" class="col-sm-3 control-label">User Name*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="loginUser" name="loginUser"  maxlength="100" required/>
                        </div>
                    </div>
<!--                     <div class="form-group hidden">
                        <label for="loginPswdOld" class="col-sm-3 control-label">Password Lama</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="loginPswdOld" name="loginPswdOld"  maxlength="100" disabled="disabled" />
                            <p id="loginPswdMsg" class="hidden"></p>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="loginPswd" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="loginPswd" name="loginPswd"  maxlength="100"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loginNote" class="col-sm-3 control-label">Catatan</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="loginNote" name="loginNote"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <a href="{URL_CANCEL}" class="xhr dest_subcontent-element btn btn-danger">Batal</a>
                            <button class="btn btn-success" type="submit">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Petunjuk:</strong>
      </div>
      <div class="panel-body" style="width: 1000px;">
        <div class="row">
          <div class="col-lg-6" style="width: 1000px;">
            <div class="petunjuk-area">
              <ul>
               <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<script type="text/javascript">
Pace.options.startOnPageLoad = false;

var inpAct          = $('#inpAct').text();
var frmInp          = $("#frminp");
var formURL         = '{URL_ACTION}';
var postData;
var urlListClient   = '{URL_LISTCLIENT}';
var urlListServer   = '{URL_LISTSERVER}';
var urlListApp      = '{URL_LISTAPP}';
var urlListLoginrole= '{URL_LISTLOGINROLE}';
var urlPass         = '{URL_PASS}';
var urlValue        = '{URL_VALUE}';
var urlRedirect     = '{URL_CANCEL}{URL_L}ascomponent=1';
var wBox            = $('#warning-box');
var wMsg            = $('#warning-msg');
var wMsgDet         = $('#warning-msg-detail');
var formGroup       = $('.form-group');

//callback handler for form submit

frmInp.submit(function(e) {
    postData = $(this).serializeArray();
    Pace.track(function(){
      $.ajax({
          url : formURL,
          type: "POST",
          data : postData,
          success:function(result) {
              if (result.status == 201) {
                GtfwAjax.replaceContentWithUrl('subcontent-element', urlRedirect);
                alert(result.message);
              } else {
                wMsg.empty();
                wMsgDet.empty();
                formGroup.each(function(){this.className = "form-group"})
                wBox.removeClass('hidden').addClass('alert alert-danger');
                wMsg.text(result.message);
                $.each(result.data, function(k, v) {
                  $('#'+k).closest('.form-group').addClass('has-error');
                  label = $('label[for="'+k+'"]').text().replace('*','');
                  wMsgDet.append('<li>'+label+' '+v+'</li>');
                })
              };
          },
          error: function(data) {
              alert('Terjadi Kesalahan !');
          }
      });
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});
/*
$('#loginPswdOld').focusout(function(){
  var identifier  = $('#loginId').val();
  var PswdInput   = $('#loginPswdOld').val();
  $.ajax({
    url : urlPass,
    type : "POST",
    data : {"data" : PswdInput},
    success  : function(result) {
      if (result.status == 200) {
        $('#loginPswd').attr('disabled', false);
        $('#loginPswdOld').closest('.form-group').attr('class', 'form-group has-success');
        $('#loginPswdMsg').attr('class', 'text-success').text('Password Benar');
      } else {
        $('#loginPswd').attr('disabled', true).val('');
        $('#loginPswdOld').closest('.form-group').attr('class', 'form-group has-error');
        $('#loginPswdMsg').attr('class', 'text-danger').text('Password Salah');
      };
    },
    error : function(data) {
      alert('Ada kesalahan !');
    }
  });
})
*/
// Get form data and value
$(document).ready(function() {

  Pace.track(function(){
/*
    if (inpAct == 'Ubah') {
      $('#loginPswdOld').attr('disabled', false).closest('.form-group').removeClass('hidden');
      $('#loginPswd').attr('disabled', true);
    }
*/
    $.getJSON(urlListClient, function(result){
      $('#loginClientId').select2({
        placeholder: "Pilih Client",
        allowClear: true,
        language : "id",
        width : "100%",
        data : result.data
      }).val('').trigger("change");

      $.getJSON(urlListServer, function(result){
        $('#loginLokasiserverId').select2({
          placeholder: "Pilih Lokasi Server",
          allowClear: true,
          language : "id",
          width : "100%",
          data : result.data
        }).val('').trigger("change");

        $.getJSON(urlListApp, function(result){
          $('#loginAppId').select2({
            placeholder: "Pilih Aplikasi",
            allowClear: true,
            language : "id",
            width : "100%",
            data : result.data
          }).val('').trigger("change");

          $.getJSON(urlListLoginrole, function(result){
            $('#loginLoginroleId').select2({
              placeholder: "Pilih Login Role",
              allowClear: true,
              language : "id",
              width : "100%",
              data : result.data
            }).val('').trigger("change");

            if (inpAct == 'Ubah') {
              $('#loginPswd').closest('.form-group').empty();
              $.getJSON(urlValue, function (result) {
                  $.each(result.data[0], function(k, v) {
                    $('#'+k).val(v).trigger("change");
                  })
              })

            };

          }) /*Tutup Loginrole*/

        }) /*Tutup App*/

      }) /*Tutup Server*/

    })  /*Tutup Client*/

  });

})

</script>

<!-- /patTemplate:tmpl -->
