<!-- patTemplate:tmpl name="content" -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Manajemen Aplikasi</h2>
    </div>
</div>

<div id="warning-box" class="alert-dismissible hidden">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span id="warning-msg"></span>
  <ul id="warning-msg-detail"></ul>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <span id="inpAct">{JUDUL}</span> Aplikasi
            </div>
            <div class="panel-body">   
                <form name="frminp" id="frminp" method="POST" class="form-horizontal" id="frmInput">
                    <div class="form-group">
                        <label for="appName" class="col-sm-3 control-label">Nama Aplikasi*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appName" id="appName" maxlength="200" required/>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="appNick" class="col-sm-3 control-label">Nick Aplikasi*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appNick" id="appNick" maxlength="100" required/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="appProductId" class="col-sm-3 control-label">Nama Produk*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="appProductId" id="appProductId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="appVarianId" class="col-sm-3 control-label">Nama Varian*</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="appVarianId" id="appVarianId">
                              <option value="" selected=""></option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="appDirInstall" class="col-sm-3 control-label">Nama Direktori Instalasi</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appDirInstall" id="appDirInstall" maxlength="100"/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="appPathDev" class="col-sm-3 control-label">Url Repo Development</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appPathDev" id="appPathDev" maxlength="255"/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="appPathDocRepo" class="col-sm-3 control-label">Url Repo Doc</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appPathDocRepo" id="appPathDocRepo" maxlength="255"/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="appPathDocFile" class="col-sm-3 control-label">Url Fileserver Doc</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="appPathDocFile" id="appPathDocFile" maxlength="255"/>
                        </div>
                    </div>                      
                    <div class="form-group">
                        <div class="text-center">
                            <a href="{URL_CANCEL}" class="xhr dest_subcontent-element btn btn-danger">Batal</a>
                            <button class="btn btn-success" type="submit">Simpan</button>
                        </div>
                    </div> 
                </form>        
            </div>
        </div>
    </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Petunjuk:</strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="petunjuk-area">
              <ul>
               <li>Tanda * menunjukkan bahwa field tersebut harus diisi. </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

<script type="text/javascript">
Pace.options.startOnPageLoad = false;

var inpAct          = $('#inpAct').text();
var frmInp          = $("#frminp");
var formURL         = '{URL_ACTION}';
var postData;
var urlListProduct  = '{URL_LISTPRODUCT}';
var urlListVarian   = '{URL_LISTVARIAN}';
var urlValue        = '{URL_VALUE}';
var urlRedirect     = '{URL_CANCEL}{URL_L}ascomponent=1';
var wBox            = $('#warning-box');
var wMsg            = $('#warning-msg');
var wMsgDet         = $('#warning-msg-detail');
var formGroup       = $('.form-group');

//callback handler for form submit

frmInp.submit(function(e) {
    postData = $(this).serializeArray();
    Pace.track(function(){
      $.ajax({
          url : formURL,
          type: "POST",
          data : postData,
          success:function(result) { 
              if (result.status == 201) {
                GtfwAjax.replaceContentWithUrl('subcontent-element', urlRedirect);
                alert(result.message);
              } else {
                wMsg.empty();
                wMsgDet.empty();
                formGroup.each(function(){this.className = "form-group"})
                wBox.removeClass('hidden').addClass('alert alert-danger');
                wMsg.text(result.message);
                $.each(result.data, function(k, v) {
                  $('#'+k).closest('.form-group').addClass('has-error');
                  label = $('label[for="'+k+'"]').text().replace('*','');
                  wMsgDet.append('<li>'+label+' '+v+'</li>');
                })
              };
          },
          error: function(data) {
              alert('Terjadi Kesalahan !');
          }
      });
    });
    e.preventDefault(); //STOP default action
    e.unbind(); //unbind. to stop multiple form submit.
});

// Get form data and value
$(document).ready(function() {

  Pace.track(function(){
    $.getJSON(urlListProduct, function(result){
      $('#appProductId').select2({
        placeholder: "Pilih Produk",
        allowClear: true,
        language : "id",
        width : "100%",
        data : result.data
      }).val('').trigger("change");

      $.getJSON(urlListVarian, function(result){
        $('#appVarianId').select2({
          placeholder: "Pilih Varian",
          allowClear: true,
          language : "id",
          width : "100%",
          data : result.data
        }).val('').trigger("change");

        if (inpAct == 'Ubah') {
          $.getJSON(urlValue,
            function (result) {
              $.each(result.data[0], function(k, v) {
                $('#'+k).val(v).trigger("change");
              })
            })
        };      
      });    
    });  
  });

})

</script>

<!-- /patTemplate:tmpl -->