<!-- patTemplate:tmpl name="content" -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Manajemen Kontak</h2>
    </div>
</div>

<!-- patTemplate:tmpl name="warning_box" visibility="hidden" -->
<div class="alert alert-{CLASS_PESAN}">{ISI_PESAN}</div>
<!-- /patTemplate:tmpl -->

<div class="row">
    <div class="col-lg-12">
       <div class="panel panel-default" id="contentHead">
          <div class="panel-heading" role="tab" id="acrdHeadFilter">
            <h4 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#acrdClpsFilter" aria-expanded="{EXPAND}" aria-controls="acrdClpsFilter">
                  <span class="fa fa-search"></span>
                  &nbsp;Filter<span class="hidden-xs"> / Cari Data</span>
                  &nbsp;<span class="pull-right" id="dataInfo"></span>
               </a>
            </h4>
          </div>
          <div id="acrdClpsFilter" class="panel-collapse collapse {COLLAPSE}" role="tabpanel" aria-labelledby="acrdHeadFilter">
            <div class="panel-body">
               <form role="form" method="POST" action="{URL_SEARCH}" class="dataquest xhr_simple_form dest_subcontent-element" id="filterbox">
                  <div class="row">
                     <div class="col-md-4 col-xs-12">               
                        <div class="form-group">
                           <label>Nama Kontak</label>
                           <input type="text" name="contactName" class="form-control input-sm" value="{FILTER_NAME}" size="30" />
                        </div>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                           <label>Asal Kontak</label>
                           <!-- patTemplate:gtfwrendermodule name="contactClient" module="combobox2" submodule="combobox2" action="view" type="html" params="" / -->
                        </div>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                           <label>Kelompok Posisi Kontak</label>
                           <!-- patTemplate:gtfwrendermodule name="contactPosisi" module="combobox2" submodule="combobox2" action="view" type="html" params="" / -->
                        </div>
                     </div>
                     <div class="col-md-4 col-xs-12 text-center">
                        <!--<div class="visible-md visible-lg space-p"></div>-->
                        <button class="btn btn-info btn-block" type="submit">Terapkan Filter</button>
                     </div>
                  </div>
               </form>                      
            </div>
          </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kontak
                <p class="action-wrap">
                    <span><a class="xhr dest_subcontent-element btn btn-success" href="{CONTACT_URL_ADD}" role="button" title="Tambah Kontak" tabindex="2"><span class="fa fa-plus"></span><span class="hidden-xs">&nbsp;Tambah</span></a></span>
                </p>                
            </div>
            <div class="panel-body">
              <div class="row" id="kontakArea">

              </div>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <br>
                  <a href="javascript:void(0);" class="btn btn-default" id="moreButton">Muat Lebih Banyak...</a>
                  <br><br>
                </div>
              </div>         
            </div>
        </div>
    </div>
</div>

<style>
    .table-common td {
        vertical-align: top;
    }

    .action-wrap {
         margin-top: -7px;
         float: right;
    }

    .space-p {
      padding-bottom: 22px;
    }

    th {
      text-align: center;
      vertical-align: middle !important;
    }
    .th-no {
      width: 25px;
    }
    .th-aksi {
      width: 170px;
    }
}

</style>
<script type="text/javascript">
 
  $('#contentHead').affix({
    offset: {
      top: 160
    }
  })

  $('.action-wrap').affix({
    offset: {
      top: 160
    }
  })

  var moreButton = $('#moreButton');
  var kontakArea = $('#kontakArea');
  var content;
  var kontakData = {DATAKONTAK};
  var kontakDataLen = Object.keys(kontakData).length;
  var items      = [];
  var itemPerPage = 9;
  var totalPage  = Math.ceil(kontakDataLen/itemPerPage);
  var currentPage = 0;
  var i;
  var j;
  var iLoop;
  var str;
  var dataInfo = $('#dataInfo');
  var showItem;
  
  if (kontakDataLen > itemPerPage) {
    showItem = itemPerPage;
  } else {
    showItem = kontakDataLen;
  }
  dataInfo.empty().append('&middot; Menampilkan '+showItem+' dari '+kontakDataLen);

  if (kontakDataLen < itemPerPage) {
    iLoop = kontakDataLen;
  } else {
    iLoop = itemPerPage;
  }

  for (i = 1; i <= iLoop; i++) {
    str =            '<div class="col-xs-12 col-md-4">'
                  +'    <div class="bs-callout bs-callout-default bs-callout-contact">'
                  +'      <h4>'
                  +'        <strong>'+kontakData[i]["contactNameFirst"]+'</strong> '+kontakData[i]["contactNameLast"]
                  +'      </h4>'
                  +'      <small>'
                  +'        <span class="span-posisi" title="'+kontakData[i]["posisiName"]+' '+kontakData[i]["contactPosisiDet"]+'">'+kontakData[i]["posisiName"]+' '+kontakData[i]["contactPosisiDet"]+'</span><br> '
                  +'        <strong><a class="xhr dest_subcontent-element" href="'+kontakData[i]["url_client"]+'">'+kontakData[i]["clientName"]+'</a></strong>'
                  +'      </small>'
                  +'      <hr class="hr-sm">'
                  +'      <p>'
                  +'        <i class="fa fa-envelope-o fa-fw"></i> '+kontakData[i]["contactMail"]+' <br>'
                  +'        <i class="fa fa-phone fa-fw"></i> '+kontakData[i]["contactMobile"]
                  +'      </p>'
                  +'      <div class="text-right">'
                  +'        '+kontakData[i]["contactField"]
                  +'      </div>'
                  +'      <div class="bs-callout-controls">'
                  +'        <button type="button" class="btn btn-default dropdown-toggle bs-callout-controls-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fa-fw"></i></button>'
                  +'        <ul class="dropdown-menu bs-callout-dropdown text-left">'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[i]["url_detail"]+'" title="Detail"><span class="fa fa-list-alt fa-fw"></span>&nbsp;Detail</a>'
                  +'          </li>'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[i]["url_edit"]+'" title="Ubah"><span class="fa fa-pencil fa-fw"></span>&nbsp;Ubah</a>'
                  +'          </li>'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[i]["url_delete"]+'" title="Hapus"><span class="fa fa-trash-o fa-fw"></span>&nbsp;Hapus</a> '
                  +'          </li>'
                  +'        </ul>'                        
                  +'      </div>'
                  +'    </div>'
                  +'  </div>';
    items.push(str);
  }
  content = items.join("");
  kontakArea.append(content);

  moreButton.click(function() {
    items.length   = 0;
    
    if (currentPage < totalPage) {
      items.length   = 0;
      currentPage++;
      j = currentPage*itemPerPage;
      if (currentPage == totalPage-1) {
        iLoop = kontakDataLen-j;
        moreButton.attr('disabled',true);
      };
      for (i = 1; i <= iLoop; i++) {
        j++;
        str =            '<div class="col-xs-12 col-md-4">'
                  +'    <div class="bs-callout bs-callout-default bs-callout-contact">'
                  +'      <h4>'
                  +'        <strong>'+kontakData[j]["contactNameFirst"]+'</strong> '+kontakData[j]["contactNameLast"]
                  +'      </h4>'
                  +'      <small>'
                  +'        <span class="span-posisi" title="'+kontakData[j]["posisiName"]+' '+kontakData[j]["contactPosisiDet"]+'">'+kontakData[j]["posisiName"]+' '+kontakData[j]["contactPosisiDet"]+'</span><br> '
                  +'        <strong><a class="xhr dest_subcontent-element" href="'+kontakData[j]["url_client"]+'">'+kontakData[j]["clientName"]+'</a></strong>'
                  +'      </small>'
                  +'      <hr class="hr-sm">'
                  +'      <p>'
                  +'        <i class="fa fa-envelope-o fa-fw"></i> '+kontakData[j]["contactMail"]+' <br>'
                  +'        <i class="fa fa-phone fa-fw"></i> '+kontakData[j]["contactMobile"]
                  +'      </p>'
                  +'      <div class="text-right">'
                  +'        '+kontakData[j]["contactField"]
                  +'      </div>'
                  +'      <div class="bs-callout-controls">'
                  +'        <button type="button" class="btn btn-default dropdown-toggle bs-callout-controls-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fa-fw"></i></button>'
                  +'        <ul class="dropdown-menu bs-callout-dropdown text-left">'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[j]["url_detail"]+'" title="Detail"><span class="fa fa-list-alt fa-fw"></span>&nbsp;Detail</a>'
                  +'          </li>'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[j]["url_edit"]+'" title="Ubah"><span class="fa fa-pencil fa-fw"></span>&nbsp;Ubah</a>'
                  +'          </li>'
                  +'          <li>'
                  +'            <a class="xhr dest_subcontent-element" href="'+kontakData[j]["url_delete"]+'" title="Hapus"><span class="fa fa-trash-o fa-fw"></span>&nbsp;Hapus</a> '
                  +'          </li>'
                  +'        </ul>'                        
                  +'      </div>'
                  +'    </div>'
                  +'  </div>';        
        items.push(str);
      }
    }
    content = items.join("");
    kontakArea.append(content);

    showItem = j;
    dataInfo.empty().append('&middot; Menampilkan '+showItem+' dari '+kontakDataLen);

  });

</script>
<!-- /patTemplate:tmpl -->
