<!-- patTemplate:tmpl name="content" -->

		<div id="header-image">
			<img src="images/<!-- patTemplate:gtfwgetconfig config="application" name="application_logo" / -->" />
			<h1><!-- patTemplate:gtfwgetconfig config="organization" name="application_name" / --></h1>
			<h2><!-- patTemplate:gtfwgetconfig config="organization" name="company_name" / --> <div style='display:none;'>| <!-- patTemplate:gtfwgetconfig config="language" name="periode" / --> <span id="header_prd_aktif">{SEMESTER} {TAHUN_AJARAN}</span></div></h2>
		</div>
		<div id="header-filler">
			
		</div>

<!-- /patTemplate:tmpl -->